// define los estilos de la barra de navegacion
@use '../abstracts' as *;
.nav {
  @include flex-center;
}
/* Barra de navegación principal */
nav {
  background-color: #048b7b;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .logo {
    height: 40px;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;

    li a {
      text-decoration: none;
      color: white;
      font-weight: 500;
      font-size: 0.9rem;
      transition: color 0.3s ease, transform 0.2s ease;

      &:hover {
        color: #109788;
        transform: translateY(-3px);
      }
    }
  }

  .nav__left {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }

  .nav__right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  button {
    background-color: #274f51;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.4rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #109788;
    }
  }
}

/* Estilo para la sección de enlaces superiores */
.top-links {
  background-color: #274f51;
  padding: 1rem 0;
  text-align: center;
  font-size: 1rem;
  color: white;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 0;

    li a {
      text-decoration: none;
      color: white;
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        color: #109788;
      }
    }
  }
}

/* Sección de categorías de juguetes */
#toy-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.5rem;
  padding: 2rem;
  margin-top: 16px;
  border-radius: 16px;
  background-color: #28686A;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;

  .category-item {
    background-color: #345c64;
    border-radius: 12px;
    padding: 0.6rem 1.2rem;
    font-size: 0.85rem;
    font-weight: 500;
    text-align: center;
    width: auto;
    min-width: 120px;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
  }
}

/* Responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    justify-content: center;
  }

  #toy-categories {
    flex-direction: column;
    align-items: center;
  }

  .category-item {
    width: 80%;
    margin: 1rem auto;
    font-size: 0.85rem;
  }

  nav ul li a {
    font-size: 0.8rem;
  }
}