// define los estilos de los botones
@use '../abstracts' as *;

.btn {
  padding: $spacing-sm $spacing-md;
}

.button {
    padding: $spacing-sm $spacing-md;
    background-color: $color-primary;
    color: white;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background 0.3s;
  
    &:hover {
      background-color: $color-success;
    }
  }
  