// modo oscuro 
@use '../abstracts' as *;
body.dark-mode {
  background-color: #345c64;
  color: #ade7ee;

  nav {
    background-color: #274f51;

    .nav__button {
      background-color: #5c888c;

      &:hover {
        background-color: #ade7ee;
        color: #274f51;
      }
    }

    ul li a {
      color: #ade7ee;
    }
  }

  .card {
    background-color: #274f51;
    color: #ade7ee;
    border-color: #5c8c94;
  }

  input, textarea, select {
    background-color: #274f51;
    color: #ade7ee;
    border: 1px solid #5c888c;
  }
}
