// funciones reutilizables
// Centrado flexible
// Mixin para centrar un contenedor

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  // Responsive breakpoint
  @mixin respond-to($breakpoint) {
    @if $breakpoint == sm {
      @media (max-width: 600px) { @content; }
    } @else if $breakpoint == md {
      @media (max-width: 900px) { @content; }
    } @else if $breakpoint == lg {
      @media (max-width: 1200px) { @content; }
    }
  }

  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  